*.iml
.gradle
/local.properties
.idea
/gradle.properties
/wfsocket.jks
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

.README.md.swp
